* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: borer-box;
}

/* General styles */
body {
    background: url("../images/scroll.jpg") no-repeat center center/cover;min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Font styles */
    font-family: 'Arima', sans-serfif;
}

/*Header and Logo */
header {
    background: #000;
    color: #c39a1c;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    width: 110px;
    padding: 0;
}


main {
    background: url("../images/scroll.jpg") no-repeat center center/cover;
    position: relative;
    /* Make main elelment take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 64px;
    width: 100vw;
    height: 100vh;
}

/*Quiz container - question counter, questions, and answer buttons */
.container {
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    padding-top: 30px;
}

#question-counter {
    padding: 30px, 0;
    margin-bottom: 20px;
}

#question {
    text-align: center;
    font-size: 25px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.btn {
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
}

.btn:hover {
    border-color: black;
    background-color: #c39a1c;
}

.btn.correct{
    background-color: #3ac635
}

.btn.wrong {
    background-color: #C00C;
}

/* Contols buttons */
.start-btn, .next-btn, .results-btn {
    font-size: 1.2rem;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mom-logo {
    width: 150px;
    align-items: center;
}



.hide {
    display: none;
}

footer {
    background: #000;
    color: #c39a1c;
    padding: 0.5rem;
}

footer p {
    padding: 5px;
}