* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* General styles */
body {
    background: url("../images/scroll.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Font styles */
    font-family: 'Arima', sans-serif;
}

.hide {
    display: none;
}

/*Header and Logo */
header {
    background: #000;
    color: #c39a1c;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    width: 110px;
    padding: 0;
}

/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 64px;
    min-height: 100vh;
}

/* Instructions*/
.mom-logo {
    width: 150px;
    align-items: center;
}

#instructions {
    text-align: center;
    padding: 5px;
}

#instructions p, 
#question {
    border-style: solid;
    background: rgba(237, 234, 234, 0.7);
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    justify-content: center;
    margin: 5px 0;
    padding: 7px;
}

/*Quiz container - question counter, questions, and answer buttons */
.container {
    display: block;
    border-radius: 5px;
    padding: 20px;
    padding-top: 30px;
}

#question-counter {
    padding: 5px 0;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    background:rgba(237, 234, 234, 0.7);
    text-align: center;
}

#question {
    text-align: center;
    font-size: 1.7em;
    padding: 3px;
}

.btn-grid {
    display: block;
    margin: 20px;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#answer-buttons button{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
}

.btn {
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
}

.btn:hover {
    border-color: black;
    background-color: #c39a1c;
}

.btn.correct{
    background-color: #3ac635
}

.btn.wrong {
    background-color: #C00C;
}

/* Controls buttons */
.start-btn, .next-btn, .results-btn, .restart-btn {
    font-size: 1.2rem;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Results */
#results-area > img {
    display: flex;
    text-align: center;
    margin: auto;
}

#scores {
    border-style: solid;
    background: rgba(237, 234, 234, 0.7);
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding: 7px;
}

#restart-btn {
    display: flex;
    align-items: center;
    margin: auto;
}

/* footer */
footer {
    background: #000;
    color: #c39a1c;
    padding: 0.5rem;
}

footer p {
    padding: 5px;
}

/* media query for tablets (768px) and larger */
@media screen and (min-width:768px) {

}

/* media query for laptops(1024px) and larger*/
@media screen and (min-width:1024px) {
    .btn-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        margin: 20px;
    }
}